<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cart", method = "POST">
        {{form.csrf_token}}
        {{form.username.label}}
        {{form.username}}

        {{form.password.label}}
        {{form.password}}

        {{form.item_id(value=item_id)}}
        {{form.submit}}
    </form>
</body>
</html>