<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="container">
    <form action="/">
        <button type="submit">Go Back</button>
    </form>

    <form action="/account" method="POST">
        <label for="username"><b>Username</b></label>
        <input type="id" placeholder="Username" name="username" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Email" name="email" required>

        <label for="pw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="pw" required>


        <button type="submit">Create Account</button>
    </form>
    {% if valid %}

    <body>{{ message }}

        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
        <script src="./dark.js"></script>
        <script>
            function addDarkmodeWidget() {
                new Darkmode().showWidget();
            }
            window.addEventListener('load', addDarkmodeWidget);
        </script>
    </body>
    {% endif %}

</div>

</html>