<html>

    <div class="container">
        <form action="/create" method = "POST">
            <label for="username"><b>Username</b></label>
            <input type="id" placeholder="Username" name="username" required>
        
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Email" name="email" required>

            <label for="pw"><b>Password</b></label>
            <input type="password" placeholder="Password" name="pw" required>

            
            <button type="submit">Create Account</button>
        </form>
    </div>
</html>