<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <h1>The Closet</h1>
</head>

<body>

    </header>
    <div class="container">
        {% if login %}
        <h2>Welcome, {{username}}</h2>
        <div>
            <form action="/billinginfo">
                <button type="submit">Change Billing Info</button>
            </form>
        </div>
        <div>
            <form action="/">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div>
            <form action="/postnewproduct">
                <button type="submit">Post new Product for Sale</button>
            </form>
        </div>
        <form action="/delete" method="POST">
            <button type="submit">Delete Account</button>
        </form>


        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
        <script src="./dark.js"></script>
        <script>
            function addDarkmodeWidget() {
                new Darkmode().showWidget();
            }
            window.addEventListener('load', addDarkmodeWidget);
        </script>

        {% else %}
        <form action="/login">
            <button type="submit">Login</button>
        </form>
        <form action="/account">
            <button type="submit">Create Account</button>
        </form>
        <form action="/search">
            <button type="submit">Search for Item</button>
        </form>
        {% endif %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="./dark.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    </div>

</body>

</html>