<html>
<h1>The Closet</h1>
<body>
    <div class="container">
        {% if login %}
            <h2>Welcome, {{username}}</h2>
            <form action = "/">
                <button type="submit">Logout</button>
            </form>

            <form action = "/delete" method = "POST">
                <button type="submit">Delete Account</button>
            </form>
        {% else %}
            <form action="/login">
                <button type="submit">Login</button>
            </form>
            <form action="/account">
                <button type="submit">Create Account</button>
            </form>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
      function addDarkmodeWidget() {
        new Darkmode().showWidget();
      }
      window.addEventListener('load', addDarkmodeWidget);
    </script> 
</body>    

</html>