<html>
<h1>The Closet</h1>
<div class="container">
    {% if login %}
        <h2>Welcome, {{username}}</h2>
        <form action = "/">
            <button type="submit">Logout</button>
        </form>

        <form action = "/delete" method = "POST">
            <button type="submit">Delete Account</button>
        </form>
    {% else %}
        <form action="/login">
            <button type="submit">Login</button>
        </form>
        <form action="/account">
            <button type="submit">Create Account</button>
        </form>
        <form action="/search">
            <button type = "submit">Search for Item</button>
        </form>
    {% endif %}
</div>

</html>