<html>
    <div class="container">
        <form action="/login" method = "POST">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Username" name="username" required>
        
            <label for="pw"><b>Password</b></label>
            <input type="password" placeholder="Password" name="pw" required>
        
            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </form>
    </div>
</html>
