<html>

<head>
    <h1>Login Page</h1>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <form action="/">
            <button type="submit">Go Back</button>
        </form>

        <form action="/login" method="POST">
            <label for="username"><br>Username</br></label>
            <input type="text" placeholder="Username" name="username" required>

            <label for="pw"><br>Password</br></label>
            <input type="password" placeholder="Password" name="pw" required>
            <br></form><br>
        <button type="submit">Login</button>
        <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
        </form>

        <label><br>Enter Captcha:</br></label>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" readonly id="capt">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="textinput">
            </div>
        </div>

        <div class="form-group">
            <button onclick="validcap()" class="btn btn-lg btn-success btn-block">Submit</button>
        </div>
        </form>
        <h3>Refresh Captcha <img src="refresh.jpg" width="40px" onclick="cap()"></h3>

    </div>

    <script type="text/javascript">
        function cap() {
            var alpha = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i',
                'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '!', '@', '#', '$', '%', '^', '&', '*', '+'
            ];
            var a = alpha[Math.floor(Math.random() * 71)];
            var b = alpha[Math.floor(Math.random() * 71)];
            var c = alpha[Math.floor(Math.random() * 71)];
            var d = alpha[Math.floor(Math.random() * 71)];
            var e = alpha[Math.floor(Math.random() * 71)];
            var f = alpha[Math.floor(Math.random() * 71)];

            var final = a + b + c + d + e + f;
            document.getElementById("capt").value = final;
        }

        function validcap() {
            var st1 = document.getElementById('capt').value;
            var st2 = document.getElementById('textinput').value;
            if (st1 == st2) {
                alert("Form is validated Succesfully");
                return true;
            } else {
                alert("Please enter a valid captcha");
                return false;
                return render_template('login.html')
            }
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="./dark.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>



</body>