{% extends "base.html" %} {% block content %}
<div>
    <form method="POST" action="">
        <!-- {{ form.hidden_tag() }} -->
        <!-- <div>
                {{ form.name.label() }}
                {{ form.name }}
            </div> -->
        <div>
            {{ form.price.label() }} {{ form.price }}
        </div>
        <div>
            {{ form.description.label() }} {{ form.description }}
            <div>
                {{ form.item_image.label() }} {{ form.item_image }}
            </div>
            <div>
                {{ form.submit.label() }} {{ form.submit }}
            </div>
    </form>
    </div>
    {% endblock content %}