.container {
    max-width: 500px;
    margin: auto;
}

head {
    text-align: center;
    ;
}

header {
    height: 100px;
    padding: 10px 0;
}

nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 50px;
}